<nav class="navbar navbar-dark  justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="https://minotar.net/helm/{{getUsername()}}/40.png" width="40" height="40" class="d-inline-block align-top"
         alt="">
    {{getUsername()}}
  </a>
  <button class="btn btn-primary" (click)="onClickAddServerButton()">Add Server</button>
  <button class="btn btn-primary" (click)="onClickLogoutButton()">Log Out</button>
</nav>
<div class="container-fluid">
  <ng-template appModal></ng-template>

  <div class="row">
    <div class="server-list">
      <app-server-list-item *ngFor="let server of servers;  let i = index;" (onClickServer)="LogIn($event)"
                            [server]="server" [index]="i"></app-server-list-item>
    </div>

  </div>

</div>


