<div class="nav"><button class="btn btn-primary" (click)="disconnectButtonClick()">Disconnect</button> </div>
<div class="textarea" #scrollMe>
  <div class="chatMessage" *ngFor="let message of this.backlog; let i = index;  trackBy: trackByMessage"><span [innerHTML]="message"></span></div>
</div>
<div class="chatinput">
  <input type="text" class="form-control" placeholder="Chat.." (keyup.enter)="sendChat($event)"/>
</div>
<div *ngIf="tabPressed" class="playerlist">
  <ul >
    <li *ngFor="let player of this.players; let i = index;  trackBy: trackByMessage" [innerHTML]="player"></li>
  </ul>
</div>

<div *ngIf="kickedMessage" class="kickMessage alert alert-secondary" role="alert" [innerHTML]="'Disconnected: ' + kickedMessage"></div>
