.chatMessage {
  font-family: Minecraft;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #252525;
  border-bottom: 1px solid rgba(50,50,50,0.7);
}
.nav {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

.textarea {
  /*height: calc(100% - 50px);*/
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-spaces;
  padding: 5px;
}

.chatinput {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

.playerlist {
  display: block;
  font-family: Minecraft;
  font-size: 12px;
  width: 600px;
  background: rgba(25, 25, 25, 0.8);
  height: 600px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  margin-left: -300px;
}
.playerlist ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style: none;
}
