/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}
@font-face {
  font-family: Minecraft;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.eot) format("eot"), url(https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.ttf) format("truetype"), url(https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.svg#Minecraft) format("svg")
}

.mc {
  font-family: Minecraft;
}

.mc_black {
  color: #000
}

.mc_dark-blue {
  color: #00a
}

.mc_dark-green {
  color: #0a0
}

.mc_dark-aqua {
  color: #0aa
}

.mc_dark-red {
  color: #a00
}

.mc_dark-purple {
  color: #a0a
}

.mc_gold {
  color: #fa0
}

.mc_gray {
  color: #aaa
}

.mc_dark-gray {
  color: #555
}

.mc_blue {
  color: #55f
}

.mc_green {
  color: #5f5
}

.mc_aqua {
  color: #5ff
}

.mc_red {
  color: #f55
}

.mc_light-purple {
  color: #f5f
}

.mc_yellow {
  color: #ff5
}

.mc_white {
  color: #fff
}

.mc_bold {
  font-weight: 700
}

.mc_italic {
  font-style: italic
}

.mc_strikethrough, .mc_underlined {
  position: relative;
  display: inline-block
}

.mc_strikethrough::before, .mc_underlined::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0
}

.mc_strikethrough::before {
  border-bottom: 2px solid;
  border-bottom-color: inherit;
  top: 55%
}

.mc_underlined::after {
  border-bottom: 2px solid;
  border-bottom-color: inherit;
  bottom: -8%
}
